<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<% include ../partials/sse %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
				<% devices.forEach(function(device) {%>
				<div class='col-sm-6 col-md-3 col-lg-2'>
					<div class="panel panel-default center" id='<%= device._id + "-panel"%>'=>
						<div class="panel-body">
							<div class="panel-body machine-name-div">
								<h1 class="panel-title editable editable-click editable-empty editable-open machine-name" data-url="/edit-machine-name" data-type="text" data-pk="<%= device._id%>"><%= device.alias ? device.alias : device._id%></h1>
							</div>
							<img src="/img/default_dot.png" height="96" width="96" id='<%= device._id + "-img"%>'>
						</div>
						<div class="panel-heading">
							<h3>
								<span class="label label-default" id='<%= device._id + "-status"%>' tabindex="0" role="button" data-toggle="popover" data-placement="top" title="<%= device._id%>" data-content="<%= device.ip%>"></span>
							</h3>
							<p id='<%= device._id + "-time"%>'></p>
						</div>
					</div>
				</div>
			  <% }); %>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
